:root {
  --bg: #0b1f2a;
  --text: #e6f1f5;
  --primary: #22c55e;
  --accent: #3b82f6;
}

/* LIGHT MODE */
body.light {
  --bg: #f8fafc;
  --text: #0f172a;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Poppins;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 20px;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}

/* BUTTON */
.btn {
  background: linear-gradient(135deg, var(--primary), var(--accent));
}