{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<section class="hero">

  <div class="slider">
    <div class="slides" id="slides">

      <div class="slide">
        <img src="{{ url_for('static', filename='img/slide1.jpg') }}">
        <div class="overlay"></div>
      </div>

      <div class="slide">
        <img src="{{ url_for('static', filename='img/slide2.jpg') }}">
        <div class="overlay"></div>
      </div>

      <div class="slide">
        <img src="{{ url_for('static', filename='img/slide3.jpg') }}">
        <div class="overlay"></div>
      </div>

    </div>
  </div>

  <div class="hero-content">
    <h1>Membangun Generasi Qurani</h1>
    <p>Pendidikan Islam modern berbasis teknologi</p>
    <a href="/daftar" class="btn">Daftar</a>
  </div>

</section>

<section class="program">
  <div class="container">
    <h2 class="section-title">Program</h2>

    <div class="grid">
      <div class="card"><h3>Tahfidz</h3></div>
      <div class="card"><h3>Kitab</h3></div>
      <div class="card"><h3>Teknologi</h3></div>
    </div>

  </div>
</section>

{% endblock %}